<h3>Login</h3>

<% if flash[:err] %>
  <% flash[:err].each do |err| %>
    <p><strong><%= err %></strong></p>
  <% end %>
<% end %>

<%= form_tag(:action => 'new') do %>
  <p>Usename: <%= text_field_tag(:username) %></p>
  <p>Password: <%= password_field_tag(:password) %></p>
  <%= submit_tag("Log In") %>
<% end %>
