<% if comment.parent_type == "Post" %>
  <h5><%= link_to comment.user.username, user_path(comment.user) %> to <%= comment.parent.user.username %></h5>
  <%= link_to "Reply", new_comment_path(comment: comment), class: 'btn btn-primary' %>
  <a class="btn bth-primary" data-toggle="collapse" href='#collapseReplies'>Show Replies</a>
  <p class='comment-content'><%= comment.content %></p>

  <% if comment.replies %>
    <% comment.replies.each do |reply| %>
      <%= render 'partials/comment', comment: reply %>
    <% end %>
  <% end %>

<% else %>
  <div id="collapseReplies">
    <h5><%= link_to comment.user.username, user_path(comment.user) %> to <%= comment.parent.user.username %></h5>
    <p class='comment-content reply'><%= comment.content %></p>
  </div>

  <% if comment.replies %>
    <% comment.replies.each do |reply| %>
      <%= render 'partials/comment', comment: reply %>
    <% end %>
  <% end %>
<% end %>
