<% if comment.parent_type == "Post" %>
  <h5>
    <%= link_to comment.user.username, user_path(comment.user) %> 
    to 
    <%= comment.parent.user.username %>
    <% if comment.replies.count > 0 %>
      <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href='#i<%= comment.id.to_s %>'>Toggle Replies</a>
    <% end %>
    <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#collapseForm">Reply</a>
    <% @comment = new_comment %>
    <% @parent_comment = comment %>
    <div class="collapse no-box-shadow" id="collapseForm">
      <%= render 'partials/new_comment_form' %>
    </div>
  </h5>
  <p class='comment-content'><%= comment.content %></p>

  <% if comment.replies %>
    <% comment.replies.each do |reply| %>
      <%= render 'partials/comment', comment: reply %>
    <% end %>
  <% end %>

<% else %>
  <div class="collapse" id="i<%= comment.parent.id.to_s %>">
    <h5>
      <%= link_to comment.user.username, user_path(comment.user) %> 
      to 
      <%= comment.parent.user.username %>
      <% if comment.replies.count > 0 %>
        <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href='#i<%= comment.id.to_s %>'>Toggle Replies</a>
      <% end %>
      <%= link_to "Reply", new_comment_path(parent_comment: comment), class: 'btn btn-outline-primary btn-sm' %>
      <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#collapseForm">Reply</a>
      <% @comment = new_comment %>
      <% @parent_comment = comment %>
      <div class="collapse no-box-shadow" id="collapseForm">
        <%= render 'partials/new_comment_form' %>
      </div>
    </h5>
    <p class='comment-content reply'><%= comment.content %></p>

    <% if comment.replies %>
      <% comment.replies.each do |reply| %>
        <%= render 'partials/comment', comment: reply %>
      <% end %>
    <% end %>
  </div>
<% end %>
