<% if comment.parent_type == "Post" %>
  <h5>
    <img src='<%= comment.user.profile_img_url %>' alt="<%= comment.user.username %>'s profile picture" class="img-thumbnail" height="42" width="42">
    <%= link_to comment.user.username, user_path(comment.user) %> 
    to 
    <%= comment.parent.user.username %>
    on  
    <%= comment.created_at.strftime("%d/%m/%Y") %>
    <% if comment.replies.count > 0 %>
      <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href='#i<%= comment.id.to_s %>'>Toggle Replies</a>
    <% end %>
    <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#collapseForm<%= comment.id %>">Reply</a>
  </h5>
  <p class='comment-content'><%= comment.content %></p>
  <% @comment = new_comment %>
  <% @parent_comment = comment %>
  <div class="collapse no-box-shadow light-background" id="collapseForm<%= comment.id %>">
    <%= render 'partials/new_comment_form' %>
  </div>

  <% if comment.replies %>
    <% comment.replies.each do |reply| %>
      <%= render 'partials/comment', comment: reply %>
    <% end %>
  <% end %>

<% else %>
  <div class="collapse light-background" id="i<%= comment.parent.id.to_s %>">
    <h5>
      <img src='<%= comment.user.profile_img_url %>' alt="<%= comment.user.username %>'s profile picture" class="img-thumbnail" height="42" width="42">
      <%= link_to comment.user.username, user_path(comment.user) %> 
      to 
      <%= comment.parent.user.username %>
      <% if comment.replies.count > 0 %>
        <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href='#i<%= comment.id.to_s %>'>Toggle Replies</a>
      <% end %>
      <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#collapseForm<%= comment.id %>">Reply</a>
    </h5>
    <p class='comment-content reply'><%= comment.content %></p>
    <% @comment = Comment.new %>
    <% @parent_comment = comment %>
    <div class="collapse no-box-shadow light-background" id="collapseForm<%= comment.id %>">
      <%= render 'partials/new_comment_form' %>
    </div>

    <% if comment.replies %>
      <% comment.replies.each do |reply| %>
        <%= render 'partials/comment', comment: reply, new_comment: Comment.new %>
      <% end %>
    <% end %>
  </div>
<% end %>
