<h4>Update Password?</h4>
<%= f.label :current_password %>
<%= f.password_field :current_password %><br />
<%= f.label :new_password %>
<%= f.password_field :password %><br />
<%= f.label :confirm_password %>
<%= f.password_field :confirm_password %><br />
