<div class='form no-box-shadow'>
  <%= form_for(@comment) do |f| %>
  <div class="form-group no-box-shadow">
    <% if @parent_comment %>
      <label>You're responding to <%= @parent_comment.user.username %></label><br>
    <%= f.hidden_field :parent_type, :value => 'Comment' %>
    <% else %>
       <label>You're responding to <%= @parent_post.user.username %></label><br> 
      <%= f.hidden_field :parent_type, :value => 'Post' %>
    <% end %>
    <% if !@parent_post %>
      <% @parent_post = @parent_comment %>
    <% end %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.hidden_field :parent_id, :value => @parent_post.id %>
    <%= f.label :content %>
    <%= f.text_area :content, { class: 'form-control', rows: '4' } %><br>
    <%= f.submit :Submit, class: 'btn btn-primary'%>
  </div>
  <% end %>
</div>
