<div class='post-preview'>
  <h3><%= post.category.name %> | <%= link_to post.title, post_path(post) %></h3>
  <p><em>posted by: </em><%= link_to post.user.username, user_path(post.user) %><em>, <%= post.created_at.ctime %></em></p>
  <div class='post-preview-content'>
    <p><%= post.truncate_content(150) %></p>
  </div>
  <div class='post-preview-stats' %>
    <% if post.user == @current_user %>
      <%= render 'partials/post_stats_current_user', post: post %>
    <% elsif session[:user_id] %>
      <%= render 'partials/post_stats_foreign_user', post: post%>
    <% else %>
      <%= render 'partials/post_stats_public', post: post %>
    <% end %>
  </div>
</div>
