<div class='post-preview'>
  <h4><%= post.category.name %> | <%= link_to post.title, post_path(post) %></h4>
  <p><em>posted by: </em><%= link_to post.user.username, user_path(post.user) %><em>, <%= post.created_at.strftime("%A %B %-d, %Y") %></em></p>
  <div class='post-preview-content light-background'>
  <p><%= post.truncate_content(500) %>
<% if post.content.length > 500 %><%= link_to 'click to see more', post_path(post)%><% end %></p>
  </div>
  <div class='post-preview-stats light-background' %>
    <% if post.user == @current_user %>
      <%= render 'partials/post_stats_current_user', post: post %>
    <% elsif session[:user_id] %>
      <%= render 'partials/post_stats_foreign_user', post: post%>
    <% else %>
      <%= render 'partials/post_stats_public', post: post %>
    <% end %>
  </div>
</div>
