<h4>Highest Scoring Posts</h4>
<% Post.all.top_scoring(5).each do |post| %>
  <div class='sidebar-top-post-detail'>
    <strong><p><%= post.category.name %> | <%= link_to post.title, post_path(post) %></p></strong>
    <p>Posted By: <strong><%= link_to post.user.username, user_path(post.user) %></strong></p>
    <div class='top-post-content'>
      <p><%= post.truncate_content(25) %></p>
    </div>
    <p><%= post.created_at.ctime %></p>
    <h5>Score: <strong><%= post.score.to_s %></strong></h5>
  </div>
<% end %>
