<% if flash[:err] %>
  <% flash[:err].each do |err| %>
    <p><%= err %></p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
<table>
  <tr>
    <td><%= f.label :username %></td>
    <td><%= f.text_field :username %><br /><td>
  </tr>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email %><br /></td>
  </tr>
  <tr>
    <td><%= f.label :first_name %></td>
    <td><%= f.text_field :first_name %><br /></td>
  </tr>
  <tr>
    <td><%= f.label :last_name %></td>
    <td><%= f.text_field :last_name %><br /></td>
  </tr>
  <tr>
    <td><%= f.label :profile_img_url %></td>
    <td><%= f.text_field :profile_img_url %><br /></td>
  </tr>
  <tr>
    <td><%= f.label :bio %></td>
    <td><%= f.text_area :bio %><br /></td>
  </tr>
</table>
  <div id='new-password-form'>
    <table>
    <% if @user.id && @user == @current_user %>
      <h4>Update Password?</h4>
      <tr>
        <td><%= f.label :current_password %></td>
        <td><%= f.password_field :current_password %><br /></td>
      </tr>
      <tr>
        <td><%= f.label :new_password %></td>
        <td><%= f.password_field :password %><br /></td>
      </tr>
      <tr>
        <td><%= f.label :confirm_password %></td>
        <td><%= f.password_field :confirm_password %><br /></td>
    <% else %>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password %><br /></td>
      </tr>
      <tr>
        <td><%= f.label :confirm_password %></td>
        <td><%= f.password_field :confirm_password %><br /></td>
      </tr>
    <% end %>
    </table>
  </div>
  <%= f.submit %>
<% end %>
