<% if flash[:err] %>
  <% flash[:err].each do |err| %>
    <p><%= err %></p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <div class="form-group no-box-shadow"
    <%= f.label :username %>
    <%= f.text_field :username, { class: 'form-control form-narrow' } %><br /

    <%= f.label :email %>
    <%= f.text_field :email, { class: 'form-control form-narrow' } %><br />

    <%= f.label :first_name %>
    <%= f.text_field :first_name, { class: 'form-control form-narrow' } %><br />

    <%= f.label :last_name %>
    <%= f.text_field :last_name, { class: 'form-control form-narrow' } %><br />

    <%= f.label :profile_img_url %>
    <%= f.text_field :profile_img_url, { class: 'form-control form-narrow' } %><br />

    <%= f.label :bio %>
    <%= f.text_area :bio, { class: 'form-control', rows: '4' } %><br />
  </div>

  <div id='new-password-form'>
    <div class='form-group no-box-shadow'>
      <% if @user.id && @user == @current_user %>
        <h4>Update Password?</h4>
          <%= f.label :current_password %>
          <%= f.password_field :current_password, { class: 'form-control form-narrow' } %><br />
          
          <%= f.label :new_password %>
          <%= f.password_field :password, { class: 'form-control form-narrow' } %><br />
          
          <%= f.label :confirm_password %>
          <%= f.password_field :confirm_password, { class: 'form-control form-narrow' } %><br />
      <% else %>
          <%= f.label :password %>
          <%= f.password_field :password, { class: 'form-control form-narrow' } %><br />
          
          <%= f.label :confirm_password %>
          <%= f.password_field :confirm_password, { class: 'form-control form-narrow' } %><br />
      <% end %>
      <%= f.submit :Submit, { class: 'btn btn-primary' } %>
    </div>
  </div>
<% end %>
