<% if flash[:err] %>
  <% flash[:err].each do |err| %>
    <p><%= err %></p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br />
  <%= f.label :email %>
  <%= f.text_field :email %><br />
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br />
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br />
  <%= f.label :profile_img_url %>
  <%= f.text_field :profile_img_url %><br />
  <%= f.label :bio %>
  <%= f.text_area :bio %><br />
  <div id='new-password-form'>
    <% if @user.id && @user == @current_user %>
      <h4>Update Password?</h4>
      <%= f.label :current_password %>
      <%= f.password_field :current_password %><br />
      <%= f.label :new_password %>
      <%= f.password_field :password %><br />
      <%= f.label :confirm_password %>
      <%= f.password_field :confirm_password %><br />
    <% else %>
      <%= f.label :password %>
      <%= f.password_field :password %><br />
      <%= f.label :confirm_password %>
      <%= f.password_field :confirm_password %><br />
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
