<% if @current_user == @user %>
  <h3>Your Profile</h3>
  <h4><%= link_to 'Edit Profile', edit_user_path(@user) %></h4>
<% else %>
  <h3><%= @user.username %>'s Profile</h3>
<% end %>
<img src='<%= @user.profile_img_url %>' width='300px' /><br />
<ul>
  <li><strong>Name: </strong><%= @user.full_name %></li>
  <li><strong>Username: </strong><%= @user.username %></li>
  <li><strong>Email: </strong><%= @user.email %></li>
  <li><strong>Account Created: </strong><%= @user.created_at.ctime %></li>
</ul>
<p><strong>Bio: </strong><%= @user.bio %></p>
<h4>Favorited Posts</h4>
<div class='no-box-shadow'>
  <% if @user.user_favorites(1).empty? %>
    <p>User has no favorited posts!</p>
  <% else %>
    <ul>
    <% @user.user_favorites(5).each do |post| %>
      <li><%= link_to post.title, post_path(post) %> by <%= link_to post.user.username, user_path(post.user) %></li>
    <% end %>
    </ul>
    <%= link_to 'show all favorites', user_favorites_path(@user) %>
  <% end %>
</div>
<h4>Recent Posts</h4>
<%= link_to 'show all', user_posts_path(@user) %><br />
<div class='users-show-posts'>
  <% if @user.posts.empty? %>
    <p>No posts to show!</p>
  <% else %>
    <% @user.user_recent_posts(3).each do |post| %>
      <%= render 'partials/post_preview', post: post %>
    <% end %>
  <% end %>
</div>
