<% if @errors %>
    <% @errors.each do |error| %>
      <%= error %><br>
    <% end %>
<% end %>

<%= form_for @post, html: { class: "form-group" } do |f| %>
  <% if User.find(@user.id) %>
    <%= f.hidden_field :user_id, :value => @user.id %>
  <% else %>
    You must first Sign in<br>
  <% end %>

      <div class="form-group no-box-shadow">
        <%= f.label :category_id, { class: 'form-control' } %>
        <% if @category %>
          <%= f.collection_select :category_id, Category.all, :id, :name, { :selected => @category.id }, { class: 'form-control' } %><br>
        <% else %>
          <%= f.collection_select :category_id, Category.all, :id, :name, {}, { class: 'form-control' } %><br>
         <% end %>

        <%= f.label :title, { class: 'form-control' } %>
        <%= f.text_field :title, { class: 'form-control' } %><br>

        <%= f.label :content, { class: 'form-control' } %>
        <%= f.text_area :content, { class: 'form-control' } %><br>

        <%= f.submit :Submit, { class: 'btn btn-primary' } %>
      </div>

<% end %>
