<h3><%= @post.title %></h3>
<p>
  <% if @post.user.id == session[:user_id] %>
    <strong>Author: You</strong>
    <%= link_to "Edit Post", edit_post_path(@post), { class:'btn btn-primary btn-sm' } %>
    <br />
  <% else %>
    <strong>Author: </strong><%= link_to @post.user.username, user_path(@post.user) %><br />
  <% end %>
  <strong>Posted: </strong><%= @post.created_at.ctime %><br />
  <strong>Category: </strong><%= link_to @post.category.name, category_path(@post.category) %>
</p>

<div id='post-show-content'>
  <p><%= @post.content %></p>
</div>

<div id='post-stats'>
  <% if @current_user && @current_user == @post.user %>
    <%= render 'partials/post_stats_current_user', post: @post %>
  <% elsif @current_user %>
    <%= render 'partials/post_stats_foreign_user', post: @post %>
  <% else %>
    <%= render 'partials/post_stats_public', post: @post %>
  <% end %>
</div>

<% if @current_user %>
  <div class='new-comment=form'>
    <%= form_for @comment do |f| %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
      <%= f.hidden_field :parent_type, :value => 'Post' %>
      <%= f.hidden_field :parent_id, :value => @post.id %>
      <%= f.label :new_comment %>
      <%= f.text_area :content, { class: 'form-control', rows: '4' } %><br />
      <%= f.submit :Submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
<h4>Comments</h4>
<% @post.comments.each do |comment| %>
  <div class='post-comment'>
    <%= render 'partials/comment', comment: comment, new_comment: Comment.new %>
  </div>
<% end %>
