<h3><%= @post.title %></h3>
<p>
  <% if @post.user.id == session[:user_id] %>
    <strong>Author: You</strong>
    <%= link_to "Edit Post", edit_post_path(@post), { class:'btn btn-primary btn-sm' } %>
    <br />
  <% else %>
    <strong>Author: </strong><%= link_to @post.user.username, user_path(@post.user) %><br />
  <% end %>
  <strong>Posted: </strong><%= @post.created_at.ctime %><br />
  <strong>Category: </strong><%= link_to @post.category.name, category_path(@post.category) %>
</p>

<div id='post-show-content'>
  <p><%= @post.content %></p>
</div>

<div id='post-stats'>
  <% if @current_user && @current_user == @post.user %>
    <%= render 'partials/post_stats_current_user', post: @post %>
  <% elsif @current_user %>
    <%= render 'partials/post_stats_foreign_user', post: @post %>
  <% else %>
    <%= render 'partials/post_stats_public', post: @post %>
  <% end %>
</div>

<%= link_to "Reply", new_comment_path(parent_post: @post), class: 'btn btn-primary' %>

<h4>Comments</h4>
<% @post.comments.each do |comment| %>
  <div class='post-comment'>
    <%= render 'partials/comment', comment: comment %>
  </div>
<% end %>
