<h3><%= @post.title %></h3>
<h4>Votes: <%= @post.num_post_upvotes - @post.num_post_downvotes %></h4>
<p><strong>Author: </strong><%= link_to @post.user.username, user_path(@post.user) %></p>
<p><strong>Posted: </strong><%= @post.created_at.ctime %></p>
<div id='post-show-content'>
  <p><%= @post.content %></p>
</div>
<%= link_to "Reply", new_comment_path(parent_post: @post), class: 'btn btn-primary' %>
<h4>Comments</h4>
<% @post.comments.each do |comment| %>
  <div class='post-comment'>
    <%= render 'partials/comment', comment: comment %>
  </div>
<% end %>
