<h3>Categories</h3>
<%= link_to 'New Category', new_category_path, class:'btn btn-primary' %>
<% @categories.each do |c| %>
  <div class='category-preview'>

    <h4><%= link_to c.name, category_path(c) %> | <%= c.posts.length.to_s %> posts </h4>
    <a data-toggle='collapse' href='#i<%= c.id %>'><em>show top posts</em></a>
    <div class='collapse' id='i<%= c.id %>'>
      <% c.top_three_posts.each do |post| %>

        <%= render 'partials/post_preview', post: post %>

      <% end %>
    </div>
  </div>
<% end %>
