<%= form_for @category do |f| %>
  <div class="form form-group no-box-shadow">
    <% if @errors %>
      <% @errors.each do |error| %>
        <label class='red-text'><%= error %></label><br>
      <% end %>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control form-narrow'%><br>

    <%= f.submit 'Create Category', class: 'btn btn-primary' %>
  </div>
<% end %>
