<!DOCTYPE html>
<html>
  <head>
    <title>Schmeddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='header'>
      <h1 id='main-logo'>Schmeddit</h1>
    </div>
    <div id='right-sidebar'>
      <% if session[:user_id] %>
        <%= render 'partials/user_sidebar' %>
      <% else %>
        <%= render 'partials/public_sidebar' %>
      <% end %>
    </div>
    <div id='main-yield'>

      <%= yield %>

    </div>
    <div id='footer'>
    </div>
  </body>
</html>
